<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> Header}}

        <h3>{{screamIt wellcomemessage}}</h3>
        <p>
        Some text 
        </p>

        {{> footer}}
    </body>
</html>